In [1]:
import pandas as pd

# 1 Importamos librerías y cargamos los datos

In [3]:
df = pd.read_csv('./data/disney_movie_data_final.csv')

In [7]:
df.columns

Index(['Unnamed: 0', 'title', 'Production company', 'Release date',
       'Running time', 'Country', 'Language', 'Running time (int)',
       'Budget (float)', 'Box office (float)', 'Release date (datetime)',
       'imdb', 'metascore', 'rotten_tomatoes', 'Directed by', 'Produced by',
       'Written by', 'Based on', 'Starring', 'Music by', 'Distributed by',
       'Budget', 'Box office', 'Story by', 'Narrated by', 'Cinematography',
       'Edited by', 'Screenplay by', 'Production companies', 'Adaptation by',
       'Traditional', 'Simplified'],
      dtype='object')

Obtenemos nuestro dataset con las columnas que vamos a usar

In [5]:
ratings = df[['title', 'imdb','metascore','rotten_tomatoes']]

In [6]:
ratings.sort_values(['imdb'])

,title,imdb,metascore,rotten_tomatoes
316,Jonas Brothers: The 3D Concert Experience,1.5,45.0,23%
307,Hannah Montana and Miley Cyrus: Best of Both W...,2.4,59.0,71%
311,Beverly Hills Chihuahua,3.8,41.0,40%
223,Mr. Magoo,4.0,18.0,7%
420,Artemis Fowl,4.1,31.0,9%
...,...,...,...,...
383,Tini: The Movie,NaN,NaN,NaN
397,Jagga Jasoos,NaN,NaN,NaN
428,Raya and the Last Dragon,NaN,NaN,NaN
429,Cruella,NaN,NaN,NaN
430,Jungle Cruise,NaN,NaN,NaN